/*
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/

.alturaMax{
    height: 100%;
}

.altura60{
    height: 60% ;
}
.altura40{
    height: 40%;
}
.altura30{
    height: 30%;
}

.altura70{
    height: 70%;
}

.column{
    /*border: 0.2em #000000 solid;*/
    height: 100%;

}
html, body{
        height: 100%;
}

.juego{
    background-image: url("../img/tablero/tablasMadera.jpg");
    background-color: sandybrown;
    height: 100%;
}
.descarte{
    background-image: url("../img/tablero/descarte.png");
    background-repeat: no-repeat;
    z-index: 1 ;
}


.oponente{
    height: 50%;
}
.jugador{
    height: 50%;
}

.droppableCartas{
    background-color: rgba(0,229,238,0.5	);
    background-clip: border-box;
}

.zonaCartas {
    padding: 1em;
    margin-bottom: -10px; /*correccion del inline list que me lo sube un poco*/
}


/* Centrar dentro de un Row usando flex */
/* FUENTE: http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */
.vertical-align {
    display: flex;
    flex-direction: row;
}

.centrar-columna{
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    /*MOVIDO A CENTRAR COLUMNA*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center; *//* Optional, to align inner items*/
                              /*horizontally inside the column */
}





.campoBatalla .carta {
    height: 200px;
    width: 150px;
}

.mano .carta{
    height: 100px;
    width: 75px;
}
.carta img{
    width: 100%;
    height: 100%;
}
.campoBatalla{
    background-repeat: no-repeat;
    background-color: palegoldenrod;
}
 .oponente .campoBatalla{
    background-image: url("../img/tablero/pergamino1_top.jpg");
     /*z-index: 1 ;*/
}

.jugador .campoBatalla{
    background-image: url("../img/tablero/pergamino1_bot.jpg");
    /*z-index: -10 ;*/
}

.jugador .campoBatall
{
    position:relative;
}
.jugador .campoBatalla .row
{
    position:relative;
}
.jugador .campoBatalla .column
{
    position:relative;
}
.jugador .campoBatalla .zonaCartas
{
    position:relative;
}
.jugador .campoBatalla .list-inline
{
    position:relative;
}
.jugador .campoBatalla .li
{
    position:relative;
}
.jugador .campoBatalla .ul
{
    position:relative;
}
.jugador .campoBatalla .carta
{
    position:relative;
}

/*.jugador .campoBatalla,*/
/*.jugador .campoBatalla .row,*/
/*.jugador .campoBatalla .column,*/
/*.jugador .campoBatalla .zonaCartas,*/
/*.jugador .campoBatalla >.list-inline,*/
/*.jugador .campoBatalla .li,*/
/*.jugador .campoBatalla .ul,*/
/*.jugador .campoBatalla .carta,*/
/*{*/
    /*position:relative;*/
/*}*/
/*.jugador .campoBatalla .carta{*/
    /*z-index: 10 ;*/
 /**/
/*}*/

.vidas{
    position: absolute;
    display: inline-block ;
    padding: 0.2em;
    border: 0.2em  black solid;
    font-size: 30px;
    color: firebrick;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(127,127,127,0.7);
    margin: 0;
}
.jugador .vidas  {
    bottom: 0.5em;
}
.oponente .vidas  {
    top: 0.5em;
}

.datos{
    border: 0.2em black solid;
    z-index: 0;
    width: 85%;
    background-color: rgba(179,179,179,0.5);/*grey70*/
}

.username{
    padding: 0.5em;
    border: 0.2em  black solid;
    font-size: 15px;
    color: #f5f5f5;
    margin: 0.25em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: rgba(127,127,127,0.75);
    white-space: nowrap;
    overflow: hidden;

}

.avatar{
    height: 140px;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: 0.1em darkblue solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(127,127,127,0.5); /*grey50*/
}

.avatar img{
    height: 100%;
    width: 100%;
}

.poder, .poder img {
    height: 100%;
    width: 100%;
}

.cristales{
    background-image: url("../img/tablero/cristalesMap.png");
    background-repeat: no-repeat;
}

.jugador .cristales{
    top: 3.5em;
}

.oponente .cristales{
    bottom: 3.5em;
}

.pasar{
    background-image: url("../img/tablero/btnPasar.png");
    background-repeat: no-repeat;
    position: relative;
    bottom: -90%;
    left: -64%;
    z-index: 1;
    height: 85px;
    width: 125px;
}
.pasar img{
    height: 100%;
    width: 100%;
}

.mazo{
    background-image: url("../img/tablero/cartaAtras.jpg");
    background-repeat: no-repeat;
    background-color: red;
    height: 109px;
    width: 75px;
}
.mazo img{
    height: 100%;
    width: 100%;
}

.oculto{
    visibility: hidden;
}


.abajo{
    position: absolute;
    bottom: 1em;
}
.arriba{
    position: absolute;
    top: 1em;
}

.correccionSortable{
    /*height: -100px;*/
}


/*Correccion para los sortables y jquery effects (faltaria definir un placeholder de igual tamanio a la carta) */
.jugador .zonaCartas .carta{
    float: left;
}

.cartaPlaceholder{

}

/**, *:before, *:after {*/
/*z-index:    1;*/

/*}*/
